// @include

@mixin border-grey {
  border-width: 2px;
  border-style: outset;
  border-color: $grey;
}

@mixin border-dark-blue {
  border-width: 2px;
  border-style: inset;
  border-color: $dark-blue;
}

@mixin border-light-grey {
  border-width: 2px;
  border-style: outset;
  border-color: $light-grey;
}

@mixin border-light {
  border-width: 2px;
  border-style: inset;
  border-color: $light-grey;
}

@mixin icon {
  width: 20px;
  height: 20px;
  margin: 5px;
}