* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

body {
  background-color: $background;
}

//Шаблон для ограничения контента, добавлять к стилям командой @extend %container;
%container {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 32px;

  @media screen and (max-width: 767px) {
    padding: 0 20px;
  }
}